<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <script type="text/javascript" src="/static/js/jobcontrol.js"></script>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <title>jobrecord</title>
    </head>
    <body onload="getdetailstatus()"   leftmargin='0' topmargin='0'>
        <caption class="STYLE10"  >
            <font id="pagetitle" face="verdana" size="10" color="#A52A2A"></font>
        </caption><br/>
        <a class='statuscontent'> </a>
    </body>
</html>
