
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
	{% block meta %}{% endblock %}
 	{% block scripts %}{% endblock %}
 	{% block js %}{% endblock %}
 <link href="/static/css/daohang.css" rel="stylesheet" type="text/css" />
<style>
.mytable{ border-collapse:collapse; width:100%;}
.mytable td{ border:1px solid #999; text-align:center; padding:3px 0;}
</style>
</head>

{% block menu%}
<body style="text-align:center">
<ul id="lanrenzhijia">
  <li><a href="/verify/case/">问句</a></li>
  <li><a href="/verify/result/">结果</a></li>
  <li><a href="/verify/job/">job</a></li>
</ul>
</body>
{%endblock%}
{% block content %}{% endblock %}
</html>