<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE> ZTREE DEMO - select menu</TITLE>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/static/css/demo.css" type="text/css">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/tagcontrol.js"></script>
        <script type="text/javascript" src="/static/js/easypage.js"></script>
    </HEAD>
    <BODY leftmargin="0" topmargin="0">
        <h1>问句管理</h1>
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
            <div class="right">
                <div id="testcontent">
                    <div id="addbutton"></div>
                    <div id="rescontent"></div>
                    <table  class='caselist' align="center" border=1 cellspacing="0" width="98%">
                        <tr id='tr0'>
                            <td>patternStr</td>
                            <td>patternCode</td>
                            <td>treeCode</td>" <td>md5</td>
                            <td>id</td>
                            <td>name</td>
                            <td>OPT</td>
                        </tr>
                    </table>
                    <div id="navigatediv"></div>
                </div>
            </div>
        </div>
 
    </BODY>
</HTML>