<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE> ZTREE DEMO - select menu</TITLE>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/static/css/demo.css" type="text/css">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
        <script type="text/javascript" src="/static/js/jquery.ztree.core-3.5.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ztree.excheck-3.5.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ztree.exedit-3.5.js"></script>
        <script type="text/javascript" src="/static/js/tagcontrol.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>
        <script type="text/javascript" src="/static/js/easypage.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </HEAD>
    <BODY leftmargin="0" topmargin="0" >
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
                <a id='res' ></a>
                <br/>
                <button id="text" onclick="tclick()">
                    提交
                </button>
                <button onclick="resetTree();">
                    重置
                </button>
            </div>
            <div class="right">
            <IFRAME ID="testIframe" Name="testIframe"FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=1000px SRC="/case/intro"></IFRAME>
            </div>
        </div>
        <div id="rMenu">
            <ul>
                <li id="m_add" onclick="addTreeNode();">
                    增加节点
                </li>
                <li id="m_edit" onclick="editTreeNode();">
                    修改节点
                </li>
                <li id="m_del" onclick="removeTreeNode();">
                    删除节点
                </li>
            </ul>
        </div>
    
    </BODY>
</HTML>