<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
<script type="text/javascript" src="/static/easypage.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css"/> 
</head>

<body>
<div id="toolbar">
<select name="casetype">
</select>
<input id="buttontype" type="button" value="提交">
<div id="addbutton"></div>
<div id="pcontent" style="display: none">
<form id="extrarow">
    ID:<input  class="content" type="text" value="">
    Name:<input  class="content" type="text" value="">
    opt:<input  class="content" type="text" value="">
    <input class="submitrow" type="button" value="提交">
    <input class="abortrow" type="button" value="取消">
    </form>
</div>
</div>
<div id="testcontent">
<table border="1" width="100%" style="display: none">
</table>
</div>
<div id="content">
"请选择问句类型!"
</div>
<div id="navigatediv">

</div>
</body>

</html> 
